<nav class="font-sans flex flex-col text-center content-center sm:flex-row sm:text-left sm:justify-between py-2 px-6 bg-white shadow sm:items-baseline w-full">
  <div class="mb-2 sm:mb-0 flex flex-row">
    <div class="h-10 w-10 self-center mr-2"></div>
    <div>
      <%= link_to "Short Url", root_path, data: { turbolinks: false }, class: "text-2xl no-underline text-grey-darkest hover:text-blue-dark font-sans font-bold" %><br>
      <span class="text-xs text-grey-dark">Shorten any Url</span>
    </div>
  </div>
  <% if user_signed_in? %>
    <span class="text-xs text-green-dark">Logged in as <%= current_user.email %></span>
  <% end %>

  <div class="sm:mb-0 self-center">
    <%= link_to "Home", root_path, data: { turbolinks: false }, class: "text-md no-underline text-black hover:text-blue-dark ml-2 px-1" %>
    <% if user_signed_in? %>
      <%= link_to "Url List", short_links_path, class: "text-md no-underline text-black hover:text-blue-dark ml-2 px-1" %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "text-md no-underline text-grey-darker hover:text-blue-dark ml-2 px-1") %>
    <% else %>
      <%- if controller_name != 'sessions' %>
        <%= link_to "Log in", new_session_path(resource_name), class: "text-md no-underline text-grey-darker hover:text-blue-dark ml-2 px-1" %>
      <% end %>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign up", new_registration_path(resource_name), class: "text-md no-underline text-grey-darker hover:text-blue-dark ml-2 px-1" %>
      <% end %>
    <% end %>
  </div>
</nav>
